.title {
  font-size: 3rem;
  color: var(--main-color);
}

.lost {
  color: var(--gray02);
  text-decoration: underline;
}

.lost:hover {
  color: var(--gray01);
}

.error {
  color: var(--red);
  margin-bottom: 10px;
}
