.view_media {
    display: flex;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
}

.poster img {
    border-radius: 8px;
    width: 200px;
    height: auto;
}

.media_details {
    margin-left: 20px;
    flex: 1;
}

.media_details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.genres .genre {
    background-color: #333;
    color: #fff;
    border-radius: 12px;
    padding: 4px 8px;
    margin-right: 5px;
    font-size: 12px;
}

.info {
    margin: 10px 0;
}

.description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.ratings {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.review_button, .add_to_list_button {
    background-color: #555;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.cast_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.cast_member {
    text-align: center;
}

.cast_image img, .placeholder_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #777;
}

.cast_info {
    font-size: 12px;
    margin-top: 5px;
}

.cast_name {
    font-weight: bold;
}

.cast_character {
    color: #aaa;
}

.columnPoster {
    flex: 1;
    padding: 10px;
}
.columnDetails {
    flex: 3;
    padding: 10px;
}
.container {
    display: flex;
    gap: 10px;
}

.badge_area {
    display: flex;
}
.badge_status {
    font-size: 0.55em;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    line-height: 1.5;
    vertical-align: middle;
    background-color: #464662;
}

.castSection {
    margin-top: 40px;
}
.mainSection {
    margin-top: 40px;
    display: flex;
}

.duration{
    margin-left: 7px;
    margin-right: 20px;
}
.release_date{
    margin-left: 7px;
}

.badge_classification {
    margin-right: 20px;
    font-size: 0.55em;
    padding: 4px 5px;
    border-radius: 5px;
    font-weight: bold;
    line-height: 1.5;
    vertical-align: middle;
    background-color: #464662;
}

.badge_green {
    background-color: #00da0b;
}
.badge_blue {
    background-color: #2800da;
}
.badge_yellow {
    background-color: #ffef09;
}
.badge_orange {
    background-color: #ff9d0a;
}
.badge_red {
    background-color: #ec0c04;
}
.badge_black {
    background-color: #000000;
}
.imdbContainer {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.imdbRating {
    font-size: 1.25em;
    color: white;
}
