.view_media {
  display: flex;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  max-width: 1000px;
  flex-direction: column;
}

.poster img {
  border-radius: 8px;
  width: 300px;
  height: auto;
}

.media_details {
  margin-left: 20px;
  flex: 1;
}

.media_details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.genres .genre {
  background-color: #333;
  color: #fff;
  border-radius: 12px;
  padding: 4px 8px;
  margin-right: 5px;
  font-size: 12px;
}

.info {
  margin: 10px 0;
}

.description {
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.descriptionTitle {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 2px;
  color: #727278;
}

.ratings {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.review_button:hover,
.add_to_list_button:hover {
  background-color: #5551ff;
  border: solid #5551ff 0.1em;
  color: #fff;
  padding: 8px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.add_to_list_button,
.review_button {
  background-color: #00000000;
  border: solid #5551ff 0.1em;
  color: #5551ff;
  padding: 8px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.cast_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.cast_member {
  display: flex;
}

.cast_image img,
.placeholder_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #777;
}

.cast_info {
  display: grid;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px;
}

.cast_name {
  font-weight: bold;
}

.cast_character {
  color: #aaa;
}

.columnPoster {
  flex: 1.2;
  padding: 10px;
}
.columnDetails {
  flex: 3;
  padding: 10px;
}
.container {
  display: flex;
  gap: 10px;
}

.container_buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.badge_area {
  display: flex;
  margin-bottom: 10px;
}
.badge_status {
  font-size: 0.55em;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
  line-height: 1.5;
  vertical-align: middle;
  background-color: #464662;
}

.mainSection {
  margin-top: 40px;
  display: flex;
}

.duration {
  margin-left: 7px;
  margin-right: 20px;
}
.release_date {
  margin-left: 7px;
  margin-right: 20px;
}
.director_name {
  margin-left: 7px;
  margin-right: 20px;
}
.studio_name {
  margin-left: 7px;
}

.badge_classification {
  margin-right: 20px;
  font-size: 0.55em;
  padding: 4px 5px;
  border-radius: 5px;
  font-weight: bold;
  line-height: 1.5;
  vertical-align: middle;
  background-color: #464662;
}

.badge_green {
  background-color: #00da0b;
}
.badge_blue {
  background-color: #2800da;
}
.badge_yellow {
  background-color: #ffef09;
}
.badge_orange {
  background-color: #ff9d0a;
}
.badge_red {
  background-color: #ec0c04;
}
.badge_black {
  background-color: #000000;
}
.imdbContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.imdbRating {
  font-size: 1.25em;
  color: white;
}

.title {
  font-size: 2em;
  margin-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.subtitle {
  font-size: 1em;
  margin-bottom: 10px;
  color: #727278;
}

.column {
  position: relative;
}
