.title {
  margin-left: 60px;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  flex-direction: row;
  height: 320px;
  justify-content: start;
}

.main {
  height: 570px;
}

.wrapper {
  display: flex;
  overflow: hidden;
  width: 1260px;
  justify-content: space-between;
}

.inner {
  display: flex;
  gap: 40px;
  transition: transform 0.4s ease;
}

.prev,
.next {
  background-color: var(--main-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  align-self: center;
}
.next {
  margin-left: 10px;
}

.prev {
  margin-right: 10px;
}

.prev img {
  width: 30px;
  height: 30px;
  transform: rotateZ(90deg);
}

.next img {
  width: 30px;
  height: 30px;
  transform: rotateZ(-90deg);
}

.prev:hover,
.next:hover {
  background: var(--main-color02);
}
