/* CAROUSEL */
.title {
  margin-left: 50px;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  flex-direction: row;
  height: 100%;
  height: 420px;
  justify-content: start;
}

.main {
  height: 570px;
}

.wrapper {
  display: flex;
  gap: 40px;
  overflow: hidden;
  width: 1240px;
  justify-content: space-between;
}

.inner {
  display: flex;
  gap: 40px;
  transition: transform 0.4s ease;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 280px;
}

.card > img {
  display: block;
  width: 100%;
  height: 100%;
}

.prev,
.next {
  background-color: var(--main-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  align-self: center;
}
.next {
  margin-left: 10px;
}

.prev {
  margin-right: 10px;
}

.prev img {
  width: 30px;
  height: 30px;
  transform: rotateZ(90deg);
}

.next img {
  width: 30px;
  height: 30px;
  transform: rotateZ(-90deg);
}

.prev:hover,
.next:hover {
  background: color-mix(in srgb, var(--main-color) 70%, transparent);
}
