.title {
    color: var(--gray03);
    margin-top: 30px;
  }
  
  .comment_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #3a3b3c;
    margin-top: 18px;
    padding: 12px;
    padding: 36px;
  }
  
  .user_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .comment_header {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .date {
    color: #8f8f99;
  }
  
  .username {
    color: #5551ff;
  }
  
  .trash_icon {
    cursor: pointer;
    align-self: left;
    color: rgb(138, 60, 60);
  }
  
  .nocomments {
    padding: 50px;
    text-align: center;
  }