.search {
  max-width: 600px;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  background-color: var(--gray02);
  color: var(--gray01);
  border-radius: 8px;
}

.search .search-field {
  width: 100%;
  padding: 15px 0px 15px 30px;
  border: none;
  background-color: transparent;
}

.search .search-field:focus {
  outline: none;
}

.search .magnifying-glass {
  width: 70px;
  height: 55px;
  background: url("../../assets/icons/search.svg") no-repeat center center;
  text-indent: -150px;
  border: none;
  cursor: pointer;
  box-shadow: none;
}
