.title {
    color: var(--gray03);
    margin-top: 30px;
  }
  
  .review_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #3a3b3c;
    margin-top: 18px;
    padding: 12px;
    padding: 36px;
  }
  
  .user_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .review_header {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .date {
    color: #8f8f99;
  }
  
  .username {
    color: #5551ff;
  }
  
  .trash_icon {
    cursor: pointer;
    align-self: left;
    color: rgb(138, 60, 60);
  }
  
  .noReviews {
    padding: 50px;
    text-align: center;
  }
  

  .add_comment_link {
    color: #5551ff;
    cursor: pointer;
  }

.line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #5551FF;
}

.comment_section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-left: 50px;
}