.list-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 8px;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 25px;
  border: 1px solid var(--main-color);
}

.list-wrapper:hover {
  background-color: var(--light-black);
  border-color: var(--light-black);
}

.banner {
  width: 150px;
  height: 215px;
}

.midias-container {
  display: flex;
  position: relative;
}

.media {
  margin-left: -50px;
}

.noMedias {
  position: absolute;
  top: 56px;
  left: 115px;
}
