.banner {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 50px 50px 50px;
  color: var(--black);
}

.info-wrapper {
  margin-top: -75px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.img-container {
  max-width: 170px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.image {
  border-radius: 50%;
  border: 5px solid var(--white);
}

.info {
  color: var(--gray01);
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap;
}

.edit {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: end;
  justify-content: space-around;
  flex-grow: 2;
  background-color: var(--white);
  border: 1px solid var(--red);
  color: var(--red);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 7px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
}

.edit:hover {
  color: var(--white);
  background-color: var(--red);
}

.edit:hover.edit svg {
  fill: var(--white);
}
