.list-container {
  display: grid;
  grid-template-columns: 1fr 210px;
  margin: 0 10%;
  gap: 60px;
  min-width: 1032px;
}

.list-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding: 0.3125rem 0.625rem;
}

.list-container h3 {
  line-height: 35px;
  text-align: center;
}

.list-container .columns {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 8px;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 25px;
  border: 1px solid var(--main-color);
}

.list-wrapper:hover {
  background-color: var(--light-black);
  border-color: var(--light-black);
}

.banner {
  width: 150px;
  height: 215px;
}

.midias-container {
  display: flex;
  position: relative;
}

.media {
  margin-left: -50px;
}

.noMedias {
  position: absolute;
  top: 56px;
  left: 115px;
}
