.list-view {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list-wrapper {
  border: 1px solid var(--main-color);
  border-radius: 8px;
  position: relative;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  min-width: 1032px;
}

.description-container {
  display: grid;
  grid-template-columns: 2fr 1fr 220px;
  max-width: 1032px;
}

.description-container .more-options {
  width: 50px;
  grid-column: 3;
  justify-self: end;
  align-self: end;
  background: transparent;
  border: none;
  cursor: pointer;
}

.more-options svg {
  transition: all 0.2 ease-in-out;
}

.more-options:hover.more-options svg {
  fill: var(--white);
}

.config {
  position: absolute;
  top: -12.5px;
  right: -1px;
  background-color: var(--gray01);
  width: 220px;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  display: none;
}

.dropdown-anime {
  opacity: 1;
  display: flex;
}

.config li {
  padding: 10px;
}

.config li a span {
  color: var(--white);
}

.config li:hover {
  background-color: var(--gray03);
}

.error {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  font-weight: bold;
  width: 450px;
  height: 300px;
  border-radius: 8px;
  align-self: center;
  margin-top: 180px;
  padding: 60px 20px;
}

.error p {
  font-size: 1.2rem;
}

.error a {
  justify-content: center;
}

.midia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 220px;
  cursor: pointer;
  position: relative;
}

.midia img {
  height: 320px;
}

.closeMidia {
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: all 0.2s ease;
}

.midia:hover .closeMidia {
  opacity: 1;
}

.noList {
  padding: 100px 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 5;
}
